.title-bar {
  padding-left:16px;
  background-color: #000;
  display: block; 
  color: white;
}

.input-bar{
  font-size:24px;
  display: block;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
